#room-player {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
}

.col-6{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player1, .opponent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-buttons button{
    width: 100px;
    height: 40px;
}

.player-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exit {
    width: 100px;
    height: 40px;
    margin-top: 50px;
}


